* {
  border: 1px solid white;
}

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  font-family: 'Lato', sans-serif;
  height: 100%;
  font-weight: bold;
}

p {
  font-size: 20px;
}


.left-contents {
  position: absolute;
  top: 0;
  left:0;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.top-bar {
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #7F7B82;
  height: 100px;
}

.right-contents {
  margin-top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.box-styling {
  margin: 150px;
  display: flex;
  justify-content: space-between;
  height: 400px;
}

form {
  width: 400px;
  text-align: center;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-request-box {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.all-user-trips {
  width: 300px;
  text-align: center;
  margin-right: 50px;
}

.welcome-text {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h3, h4 {
  margin: 0;
}

h4 {
  margin-left: 30px;
}

.trip-type,
.dashboard-buttons,
.submit-trip,
.input {
  cursor: pointer;
}

.hidden {
  display: none;

}

.grid {
  border: 2px black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 225px);
  grid-template-rows: repeat(3, 270px);
  size: 80px;
  grid-gap: 30px;
  padding: 0px;
  cursor: pointer;
  padding-right: 400px;
}

.location,
.trip-date {
  color: black;
}

.grid-contents{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 100px; */
}

.box {
  background-color: white;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* overflow: hidden; */
  text-align: center
}

.form-and-book {
  display: flex;
  flex-direction: column;
  wrap: wrap;
  width: 200px
}

.trip-confirmation-message {
  width: 1000px;
  align-items: center;
  text-align: center;
  padding-right: 300px;
}
