/* * {
  border: 1px solid white;
} */


body {
  background: #f8f8ff;
  font-family: 'Lato', sans-serif;
  height: 100%;
  /* font-weight: bold; */
}

p {
  font-size: 20px;
}


.left-contents {
  position: absolute;
  top: 0;
  left:0;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.top-bar {
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #7F7B82;
  height: 100px;
}

.right-contents {
  margin-top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.box-styling {
  margin: 150px;
  display: flex;
  justify-content: space-between;
  height: 400px;
}

form {
  width: 400px;
  text-align: center;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-request-box {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.all-user-trips {
  width: 300px;
  text-align: center;
  margin-right: 50px;
}

.welcome-text {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h3, h4 {
  margin: 0;
}

h4 {
  margin-left: 30px;
}

.trip-type,
.dashboard-buttons,
.submit-trip,
.input {
  cursor: pointer;
}

.hidden {
  display: none;
}

.grid {
  border: 2px black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 325px);
  grid-template-rows: repeat(3, 270px);
  size: 80px;
  grid-gap: 30px;
  padding: 0px;
  cursor: pointer;
  padding-right: 400px;
}

.location,
.trip-date {
  color: black;
}

.grid-contents{
  width: 500px;
  display: flex;
  /* display: column; */
  justify-content: center;
  align-items: center;
  /* padding-right: 100px; */
}

.box {
  background-color: white;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* overflow: hidden; */
  display: flex;
  justify-content: column;
  align-items: center;
  text-align: center
}

/* .form-and-book {
  display: flex;
  flex-direction: column;
  /* wrap: wrap; */
  /* width: 200px */


.message-display {
  width: 500px;
  width: 200px;
  align-items: center;
  text-align: center;
}

.user-costs {

}

.trip-type {
  font-size: 25px;
  height: 40px;
  align-items: center;
  margin: 0px;
}

.trip-type-styling {

}

.opacity {
  opacity: 0.5;

}

.your-trips {
  margin: 0px;
  font-size: 40px;
  border: 3px solid #FFADAD;
  background-color: rgba(255, 0, 0, 0.1);
}

.instructions {
  margin: 0px;
  font-size: 15px;
  border: 3px solid #FFD6A5;
  background-color: rgba(255, 165, 0, 0.08);
}

.past {
  margin-top: 25px;
  background: #FDFFB6;
  border: 3px solid #FDFFB6;
  background-color: rgba(255, 255, 0, 0.08);
}

.present {
  border: 3px solid #CAFFBF;
  background-color: rgba(0, 128, 0, 0.08);
}

.upcoming {
  border: 3px solid #9BF6FF;
  background-color: rgba(0, 255, 255, 0.08);
}

.pending {
  margin-bottom: 35px;
  border: 3px solid #BDB2FF;
  background-color: rgba(128, 0, 128, 0.08);
}

.yearly-cost-style {
  border: 3px solid #FFC6FF;
  background-color: rgba(255, 0, 255, 0.08);
}

.zoom:hover {
   transform: scale(1.2);
}

.text {
  font-size: 15px;
}

.img-container {

}

.text-container {

}

/* .zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  /* width: 200px;
  height: 200px;
  margin: 0 auto;
} */


/* #f8f8ff off white
#FFADAD red
#FFD6A5 orange
#FDFFB6 yellow
#CAFFBF green
#9BF6FF blue
#BDB2FF purple
#FFC6FF pink */
